<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @tipo_de_documento.nombre %>
</p>


<%= link_to 'Edit', edit_tipo_de_documento_path(@tipo_de_documento) %> |
<%= link_to 'Back', tipo_de_documentos_path %>
